.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}
.player iframe{
    border-radius: 10px;
}
.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.player-top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.back-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.add-btn {
  padding: 8px 15px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.add-btn:hover {
  background-color: #b00610;
}

/* From Uiverse.io by OnCloud125252 */ 
/* Note that you only needs to edit the config to customize the button! */

.plusButton {
  --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
    left: -47%;
    top: 12%;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

@media (max-width: 400px){
  .plusButton{
    margin-left: 20%;
  }

}
@media (min-width:420px) and (max-width: 668px){
  .plusButton{
    margin-left: 15%;
  }

}
@media (min-width:670px) and (max-width: 768px){
  .plusButton{
    margin-left: 6%;
  }

}